<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lh.advanced">
    <!--读sd卡-->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <!--写sd卡-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />
    <!--访问系统媒体文件-->
    <uses-permission
        android:name="android.permission.ACCESS_MEDIA_LOCATION"
        android:required="true" />
    <!--安装卸载文件系统-->
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        android:required="true" />
    <!--联网-->
    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true" />
    <!--联网状态-->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:required="true" />
    <!--改变网络状态-->
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE"
        android:required="true" />
    <!--wifi状态-->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true" />
    <!--改变WiFi状态-->
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true" />
    <!--相机-->
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />
    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="false"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="name,icon,roundIcon,theme,allowBackup"
        android:icon="${icon}"
        android:label="@string/app_name"
        android:roundIcon="${roundIcon}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--渠道名称-->
        <meta-data
            android:name="channel_name"
            android:value="${channel_name}" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>